.Home {
    height: 90vh;
}

.home-content {
    width: 90%;
    height: 100%;
    margin: 103px auto 0px auto;
}

.home__text {
    line-height: 3.2rem;
}

.home__text h2 {
    font-size: 2rem;
}

.home__text h1 {
    color: var(--blue);
    font-size: 2.8rem;
}

.home__text h3 {
    color: var(--gray);
    font-size: 1.6rem;
}

.home__link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.home__link a {
    min-width: 150px;
    padding: 10px 40px;
    box-sizing: border-box;
    color: var(--gray);
    text-align: center;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.home__link a:last-child {
    color: var(--white);
    background-color: var(--blue);
}

@media only screen and (min-width: 360px) {

    .home-content {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home__text {
        line-height: 3.6rem;
    }

    .home__text h2 {
        font-size: 2.4rem;
    }

    .home__text h1 {
        font-size: 3.2rem;
    }

}

@media only screen and (min-width: 414px) {

    .home__text {
        line-height: 4rem;
    }

    .home__text h2 {
        font-size: 2.8rem;
    }

    .home__text h1 {
        font-size: 3.6rem;
    }

    .home__text h3 {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 768px) {

    .home__text {
        line-height: 7.6rem;
    }

    .home__text h2 {
        font-size: 5.6rem;
    }

    .home__text h1 {
        font-size: 7.2rem;
    }

    .home__text h3 {
        font-size: 4rem;
    }

    .home__link {
        margin-top: 80px;
    }

}

@media only screen and (min-width: 1200px) {

    .home-content {
        width: 1080px;
    }

}