@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;

    --black: #000000;
    --gray: #666666;
    --white: #ffffff;
    --blue: #0070f3;
}

h1,
h2,
h3 {
    margin: 0px;
}

a {
    color: var(--black);
    font-size: 1.6rem;
    text-decoration: none;
}